sample/demo_flows.json
[{"id":"2d2d9b5e.7c6d94","type":"tab","label":"demo","disabled":false,"info":""},{"id":"346f0ede.cdf412","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_health","method":"get","upload":false,"swaggerDoc":"","x":170,"y":80,"wires":[["a0f4073.ec701f8"]]},{"id":"a0f4073.ec701f8","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Health ","func":"var makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar value = makeRandom(10, 50);\n\nvar temp = makeRandom(20,50);\nvar m = makeRandom(420,650);\nvar co2 = makeRandom(300,490);\nvar humid = makeRandom(30,90);\n\n\nmsg.payload = {\n    title:'custom title',\n    color: (temp>20 && humid<90 ) ? '#FF0000': '#00FF00',\n    blink: (temp>20 && humid<90 ) ? true : false,\n    \"metric\":{\n      'item1':{\n        displayName:'먼지농도',\n        textColor: m>500 ? '#FF0000': '#000000',\n        value:m \n      },\n      'item2':{\n        displayName:'온도',\n        textColor: temp>30 ? '#FF0000': '#000000',\n        value:temp\n      },\n      'item3':{\n        displayName:'습도',\n        textColor: humid<50 ? '#FF0000': '#000000',\n        value:humid\n      },\n      'item4':{\n        displayName:'Co2',\n        textColor: co2 > 400 ? '#FF0000': '#000000',\n        value:co2\n      }\n\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":80,"wires":[["2c2c9025.6d56e"]]},{"id":"2c2c9025.6d56e","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":750,"y":80,"wires":[]},{"id":"16223c60.eddc14","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_metric","method":"get","upload":false,"swaggerDoc":"","x":170,"y":120,"wires":[["dd4199ce.c10f78"]]},{"id":"dd4199ce.c10f78","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Metric","func":"var LFSize = flow.get(\"LFSize\");\nvar MLFSize = flow.get(\"MLFSize\");\nvar MFSize = flow.get(\"MFSize\");\nvar SMFSize = flow.get(\"SMFSize\");\nvar SFSize = flow.get(\"SFSize\");\n    \n\nvar value = flow.get(\"value1\");\nmsg.payload = {\n    titleCaption:  \"\" + value ,\n    titleColor: value>30 ? '#ff0000' : '#000000',\n    fontSize: value>30 ? MLFSize : MFSize,\n}\n\nreturn msg;\n\n\n/////////////////////////////////\n// Metric Form \n\n//metric\n//{\n//    titleFillOpacity:0.1\n//    titleColor:'#1222ff',\n//    textAlign:'center',\n//    fontSize:'auto',\n//    iconImageUrl:'',\n//    imageFit:''\n//    titleCaption:'Cluster Operations',\n//    titleColor:'#1222ff',\n//    shapeType:'VerticalPipe',\n//    fill:true,\n//    fillColor:'#ff0000',\n//    fillOpacity:0.5,\n//    stroke:true,\n//    color:'#00ff00',\n//    weight:10\n//}\n// Math.floor(Math.random()*10)%2\n\n","outputs":1,"noerr":0,"x":530,"y":120,"wires":[["940e2ebf.47cef"]]},{"id":"940e2ebf.47cef","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":750,"y":120,"wires":[]},{"id":"50b2c99.8473a38","type":"inject","z":"2d2d9b5e.7c6d94","name":"init common","topic":"","payload":"","payloadType":"date","repeat":"60","crontab":"","once":true,"onceDelay":0.1,"x":1030,"y":80,"wires":[["428857a7.d7b1a8"]]},{"id":"428857a7.d7b1a8","type":"function","z":"2d2d9b5e.7c6d94","name":"set flow env","func":"///////////////////////////////////////////////\n// function\nvar makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nflow.set(\"makeRandom\", makeRandom);\n\n\n///////////////////////////////////////////////\n// init value\n\n// -10~60\nvar tempList = [26,30,21,15,14,19,25,30,45,55];\nflow.set(\"tempList\", tempList);\n\n// 300~800\nvar mList = [260,300,140,600,750,550,400,545,300,360];\nflow.set(\"mList\", mList);\n\n//300~500\nvar co2List = [490,400,440,460,475,350,300,345,400,460];\nflow.set(\"co2List\", co2List);\n\n//1~100\nvar humidList = [90,40,50,60,75,85,89,70,70,70];\nflow.set(\"humidList\", humidList);\n\n//400~500\nvar tvocList = [490,400,500,460,475,485,489,470,470,470];\nflow.set(\"tvocList\", tvocList);\n\n\nvar LFSize = \"70px\";\nflow.set(\"LFSize\", LFSize);\nvar MLFSize = \"60px\";\nflow.set(\"MLFSize\", MLFSize);\nvar MFSize = \"50px\";\nflow.set(\"MFSize\", MFSize);\nvar SMFSize = \"40px\";\nflow.set(\"SMFSize\", SMFSize);\nvar SFSize = \"30px\";\nflow.set(\"SFSize\", SFSize);\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":80,"wires":[[]]},{"id":"ad4c4bd5.f0da28","type":"inject","z":"2d2d9b5e.7c6d94","name":"generate value","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":160,"wires":[["efe08200.59f2f"]]},{"id":"efe08200.59f2f","type":"function","z":"2d2d9b5e.7c6d94","name":"set flow env","func":"var makeRandom = flow.get(\"makeRandom\");\n\nvar value1 = makeRandom(10, 50);\nflow.set(\"value1\");\nflow.set(\"value1\", value1);\n\nvar value2 = makeRandom(300, 800);\nflow.set(\"value2\");\nflow.set(\"value2\", value2);\n\nvar value3 = makeRandom(0, 100);\nflow.set(\"value3\");\nflow.set(\"value3\", value3);\n\n\nvar tempList = flow.get(\"tempList\");\nvar temp = makeRandom(10, 50);\ntempList.shift();\ntempList.push(temp);\nflow.set(\"tempList\", tempList);\nflow.set(\"temp\", temp);\n\nvar mList = flow.get(\"mList\");\nvar m = makeRandom(300, 800);\nmList.shift();\nmList.push(m);\nflow.set(\"mList\", mList);\nflow.set(\"m\", m);\n\n\nvar co2List = flow.get(\"co2List\");\nvar co2 = makeRandom(300, 500);\nco2List.shift();\nco2List.push(co2);\nflow.set(\"co2List\", co2List);\nflow.set(\"co2\", co2);\n\nvar humidList = flow.get(\"humidList\");\nvar humid = makeRandom(20, 100);\nhumidList.shift();\nhumidList.push(humid);\nflow.set(\"humidList\", humidList);\nflow.set(\"humid\", humid);\n\nvar tvocList = flow.get(\"tvocList\");\nvar tvoc = makeRandom(400, 500);\ntvocList.shift();\ntvocList.push(tvoc);\nflow.set(\"tvocList\", tvocList);\nflow.set(\"tvoc\", tvoc);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":160,"wires":[[]]},{"id":"f251f62d.41bad8","type":"function","z":"2d2d9b5e.7c6d94","name":"save share value","func":"var query_result = msg.payload;\n\nflow.set(\"dwelldevice_rs\", query_result);\n\nmsg.payload = query_result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":260,"wires":[["3c9772bf.9b90de"]]},{"id":"5b098333.e8d37c","type":"function","z":"2d2d9b5e.7c6d94","name":"dwell device sql","func":"const date = new Date();\nmsg.payload={};\nmsg.payload.f1 = \"user\";\n\nmsg.topic = \"SELECT sigMacvendor, \" +\n\"count(sigMac) as 'deviceCount', \" +\n\"sum(sigCount) as 'sigCount', \" + \n\"min(sigRSSI) as 'minRSSI', \" + \n\"max(sigRSSI) as 'maxRSSI', \" + \n\"min(sigEnterTime) as 'startTime', \" + \n\"max(sigEnterTime) as 'endTime' \" + \n\"FROM databind.dwellstat \" + \n\"Where sigMacvendor <> '' and sigRSSI < -10 \" +\n\"group by sigMacvendor order by deviceCount desc \" + \n\"Limit 10 ; \";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":260,"wires":[["a376d50a.fe6a18"]]},{"id":"3c9772bf.9b90de","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1850,"y":260,"wires":[]},{"id":"b82e1444.28bd28","type":"inject","z":"2d2d9b5e.7c6d94","name":"interval=5","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":260,"wires":[["5b098333.e8d37c"]]},{"id":"71c03b9b.b84fd4","type":"function","z":"2d2d9b5e.7c6d94","name":"save share value","func":"var query_result = msg.payload;\n\nflow.set(\"visitcount_rs\", query_result);\n\nmsg.payload = query_result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":360,"wires":[["ea8d695b.23b0c8"]]},{"id":"36ca6e52.5f4a32","type":"function","z":"2d2d9b5e.7c6d94","name":"visit count sql","func":"const date = new Date();\nmsg.payload={};\nmsg.payload.f1 = \"user\";\n\nmsg.topic = \"SELECT \" +\n\"DATE_FORMAT(endTime, '%Y/%m/%d') as 'date', \" +\n\"count(no) as 'rowCount',  \" + \n\"sum(deviceCount) as 'deviceCount', \" + \n\"min(startTime) as 'startTime', \" + \n\"max(endTime) as 'endTime' \" + \n\"FROM databind.visitstat \" + \n\"Where countRange = 3600  \" +\n\"group by DATE_FORMAT(endTime, '%Y/%m/%d') \" + \n\"order by date asc \" + \n\"Limit 10 ; \";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":360,"wires":[["76d81ec5.7c15d"]]},{"id":"ea8d695b.23b0c8","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1870,"y":360,"wires":[]},{"id":"4f5e8394.5487dc","type":"inject","z":"2d2d9b5e.7c6d94","name":"interval=10","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":360,"wires":[["36ca6e52.5f4a32"]]},{"id":"6c68a63c.47e078","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1650,"y":580,"wires":[]},{"id":"5ff0edf7.ee05c4","type":"function","z":"2d2d9b5e.7c6d94","name":"make Table Json","func":"var resultList = msg.payload;\n\nvar headerlist = [];\nvar items = [];\n\n// add header\nfor(var key in resultList[0]) {\n    headerlist.push({text:key,value:key});\n} \n\n// add items\nfor(var i=0 ; i < resultList.length ; i++){\n    var item = {};\n    for(var k in resultList[i]) {\n        item[k] = resultList[i][k];\n    }\n    items.push(item);\n}\n\nmsg.payload = {\n    headers: headerlist,\n    items:items\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":580,"wires":[["6c68a63c.47e078","3b45d2b1.d5851e"]]},{"id":"e79695a8.35f8d8","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/table_dwell","method":"get","upload":false,"swaggerDoc":"","x":1020,"y":580,"wires":[["4d7fd83c.4d6518"]]},{"id":"3b45d2b1.d5851e","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":640,"wires":[]},{"id":"4d7fd83c.4d6518","type":"function","z":"2d2d9b5e.7c6d94","name":"get dwell device","func":"\nvar dwelldevice = flow.get(\"dwelldevice_rs\");\nmsg.payload = dwelldevice;\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":580,"wires":[["5ff0edf7.ee05c4"]]},{"id":"45c85678.82ed48","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1670,"y":780,"wires":[]},{"id":"301dd38d.89778c","type":"function","z":"2d2d9b5e.7c6d94","name":"make Table Json","func":"var resultList = msg.payload;\n\nvar headerlist = [];\nvar items = [];\n\n// add header\nfor(var key in resultList[0]) {\n    headerlist.push({text:key,value:key});\n} \n\n// add items\nfor(var i=0 ; i < resultList.length ; i++){\n    var item = {};\n    for(var k in resultList[i]) {\n        item[k] = resultList[i][k];\n    }\n    items.push(item);\n}\n\nmsg.payload = {\n    headers: headerlist,\n    items:items\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":720,"wires":[["446b5264.396f9c","45c85678.82ed48"]]},{"id":"446b5264.396f9c","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1650,"y":720,"wires":[]},{"id":"e5aa4723.d44f78","type":"function","z":"2d2d9b5e.7c6d94","name":"get visit count","func":"\nvar dwelldevice = flow.get(\"visitcount_rs\");\nmsg.payload = dwelldevice;\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":720,"wires":[["301dd38d.89778c","49eb8b6f.7d6174"]]},{"id":"f2847aa6.97f9f8","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/table_visitcount","method":"get","upload":false,"swaggerDoc":"","x":1000,"y":720,"wires":[["e5aa4723.d44f78"]]},{"id":"49eb8b6f.7d6174","type":"function","z":"2d2d9b5e.7c6d94","name":"make Json Array","func":"\nvar query_result = msg.payload;\nvar resultList = [];\n\nfor(var i=0 ; i < query_result.length ; i++){\n    var item = {};\n    for(var k in query_result[i]) {\n        item[k] = query_result[i][k];\n    }\n    resultList.push(item);\n}\n\n\nmsg.payload = resultList;\n\nreturn msg;","outputs":1,"noerr":0,"x":1450,"y":820,"wires":[["45c85678.82ed48"]]},{"id":"c7352d05.26204","type":"inject","z":"2d2d9b5e.7c6d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":960,"y":780,"wires":[["e5aa4723.d44f78"]]},{"id":"1faff20c.e4f17e","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_line","method":"get","upload":false,"swaggerDoc":"","x":140,"y":660,"wires":[["9c7a26d3.4ec638"]]},{"id":"eaa00e51.65f28","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":730,"y":660,"wires":[]},{"id":"9c7a26d3.4ec638","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Line Data","func":"var dataStr = msg.payload.data;\nvar title = msg.payload.title;\n\nvar dataList = flow.get(dataStr);\n\nmsg.payload = {\n    grid: {\n        top:10,\n        left:'10%',\n        right:'0%',\n        bottom:'10%'\n    },\n    xAxis:{\n        type: \"category\",\n        data:[]\n    },\n    yAxis:{\n        type:'value',\n        scale: true,\n    },\n    series: [{\n        name:title,\n\t    animation: false,\n        data: dataList,\n        type: 'line',\n        smooth: true,\n        lineStyle: {\n            color: '#5470C6',\n            width: 2,\n        },\n        symbol: 'circle', \n        symbolSize: 5,\n        itemStyle: {\n            borderWidth: 1,\n            borderColor: '#5470C6',\n            color: '#5470C6'\n        }\n    }]\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":660,"wires":[["eaa00e51.65f28"]]},{"id":"76208c02.7f1f04","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_bar","method":"get","upload":false,"swaggerDoc":"","x":139,"y":807,"wires":[["59ca0967.c7e2f8"]]},{"id":"59ca0967.c7e2f8","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Bar Data","func":"var xRowList = [\"A1\",\"A2\",\"A3\",\"A4\",\"A5\",\"B1\",\"B2\",\"B3\",\"B4\",\"B5\",\"C1\"];  // X축\nvar dataList = [26,30,21,15,14,19,25,30,45,55,10];  // 값\n\nmsg.payload = {\n    tooltip: {},\n    xAxis: {\n        type: 'category',\n        data: xRowList\n    },\n    yAxis: {\n        type: 'value'\n    },\n    series: [\n    {\n        name:'data1',\n        data: dataList,\n        type: 'bar',\n        barWidth: '80%', \n        barGap: 0,\n        itemStyle: {\n            borderWidth: 1,\n            borderColor: '#5470C6',\n            color: '#5470C6'\n        }\n    }\n    ]\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":807,"wires":[["e0c5bb9e.7d8c78","461d342d.671fac"]]},{"id":"e0c5bb9e.7d8c78","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":729,"y":807,"wires":[]},{"id":"501ef2a8.e4467c","type":"comment","z":"2d2d9b5e.7c6d94","name":"Metric","info":"","x":130,"y":40,"wires":[]},{"id":"d11101fc.71e5d","type":"comment","z":"2d2d9b5e.7c6d94","name":"Chart","info":"","x":110,"y":540,"wires":[]},{"id":"207fb0b4.49402","type":"comment","z":"2d2d9b5e.7c6d94","name":"Table","info":"","x":990,"y":540,"wires":[]},{"id":"2594496.6cb0eb6","type":"comment","z":"2d2d9b5e.7c6d94","name":"Global Init","info":"","x":1000,"y":40,"wires":[]},{"id":"8dcd987a.1bd458","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_popup","method":"get","upload":false,"swaggerDoc":"","x":168,"y":166,"wires":[["2b807f36.bd94d"]]},{"id":"2b807f36.bd94d","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Popup(Stats)","func":"var humidList = flow.get(\"humidList\");\nvar mList = flow.get(\"mList\");\nvar tempList = flow.get(\"tempList\");\nvar co2List = flow.get(\"co2List\");\n\nvar temp = tempList.pop();\nvar m = mList.pop();\nvar co2 = co2List.pop();\nvar humid = humidList.pop();\n\n\nmsg.payload = {\n\n    \"metric\":{\n      'item1':{\n        displayName:'먼지농도',\n        textColor: m>500 ? '#FF0000': '#000000',\n        value:m \n      },\n      'item2':{\n        displayName:'온도',\n        textColor: temp>30 ? '#FF0000': '#000000',\n        value:temp\n      },\n      'item3':{\n        displayName:'습도',\n        textColor: humid<50 ? '#FF0000': '#000000',\n        value:humid\n      },\n      'item4':{\n        displayName:'Co2',\n        textColor: co2 > 400 ? '#FF0000': '#000000',\n        value:co2\n      }\n\n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":548,"y":166,"wires":[["408df9ce.400d58"]]},{"id":"408df9ce.400d58","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":748,"y":166,"wires":[]},{"id":"2a908a71.2f3dc6","type":"comment","z":"2d2d9b5e.7c6d94","name":"value1, value2, tempList, mList, co2List, humidList, tvocList","info":"","x":1130,"y":120,"wires":[]},{"id":"9371ba3f.fa0538","type":"comment","z":"2d2d9b5e.7c6d94","name":"dwelldevice_rs","info":"","x":1000,"y":220,"wires":[]},{"id":"68fc4be7.92bea4","type":"comment","z":"2d2d9b5e.7c6d94","name":"visitcount_rs","info":"","x":990,"y":320,"wires":[]},{"id":"fb342617.96cd78","type":"comment","z":"2d2d9b5e.7c6d94","name":"data,title","info":"","x":120,"y":620,"wires":[]},{"id":"cd28666a.2d8ac8","type":"comment","z":"2d2d9b5e.7c6d94","name":"data,title","info":"","x":119,"y":767,"wires":[]},{"id":"6d07882f.d8c848","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":560,"wires":[]},{"id":"31bc225f.f6f3be","type":"inject","z":"2d2d9b5e.7c6d94","name":"","topic":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":560,"wires":[["6d07882f.d8c848"]]},{"id":"3d09cbe1.35d054","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/countpeople_bar","method":"get","upload":false,"swaggerDoc":"","x":160,"y":880,"wires":[["bc13389d.924338"]]},{"id":"eca1dda4.6635a","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Bar Data","func":"var resultList = msg.payload;\n\nvar dimensionslist = ['vendor', 'devicecount', 'count'];\nvar items = [];\n\n// add items\nfor(var i=0 ; i < resultList.length ; i++){\n    var item = {};\n    for(var k in resultList[i]) {\n        item[\"vendor\"] = resultList[i][\"sigMacvendor\"];\n        item[\"devicecount\"] = resultList[i][\"deviceCount\"];\n        item[\"count\"] = resultList[i][\"deviceCount\"];\n    }\n    items.push(item);\n}\n\nmsg.payload = {\n    legend: {},\n    tooltip: {},\n    dataset: {\n        dimensions: dimensionslist,\n        source: items\n    },\n    xAxis: {type: 'category'},\n    yAxis: {},\n    series: [\n        {\n            type: 'bar',\n            name: 'device count',\n            color: 'rgba(0, 0, 255, 0.5)',\n            itemStyle: {\n                borderColor: '#cccccc',\n                borderWidth: 1\n            },\n            \n        },\n        {\n            type: 'line',\n            name: 'device count',\n            color: 'rgba(0, 0, 255, 1)',\n            itemStyle: {\n                borderWidth: 10\n            },\n            \n        }\n    ]\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":880,"wires":[["53a1a904.c00da8"]]},{"id":"53a1a904.c00da8","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":770,"y":880,"wires":[]},{"id":"bc13389d.924338","type":"function","z":"2d2d9b5e.7c6d94","name":"get dwell device","func":"\nvar dwelldevice = flow.get(\"dwelldevice_rs\");\nmsg.payload = dwelldevice;\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":880,"wires":[["eca1dda4.6635a"]]},{"id":"14d85b40.848f35","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_dot","method":"get","upload":false,"swaggerDoc":"","x":140,"y":940,"wires":[["262a7679.520dfa"]]},{"id":"262a7679.520dfa","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Dot Data","func":"var rowList = [\"A1\",\"A2\",\"A3\",\"A4\",\"A5\",\"B1\",\"B2\",\"B3\",\"B4\",\"B5\"];  \nvar xList = [10, 8, 13, 9, 11, 14 ,6, 4, 12, 7];  \nvar yList = [8.04, 6.95, 7.58, 8.81, 9.96, 7.24 ,4.36, 10.94, 4.7, 7.55];  \nvar dataList = [200, 100, 30, 40, 120, 70 , 80, 90, 150, 60];  \n\nvar items = [];\n\n// add items\nfor(var i=0 ; i < dataList.length ; i++){\n    var item = [];\n    item.push(xList[i]);\n    item.push(yList[i]);\n    item.push(dataList[i]);\n    item.push(rowList[i]);\n    items.push(item);\n}\n\n\nmsg.payload = {\n    xAxis: {},\n    yAxis: {},\n    series: [{\n        color: 'rgba(0, 0, 255, 0.5)',\n        itemStyle: {\n            borderColor: '#0000cc',\n            borderWidth: 3\n        },\n        symbolSize: function (data) {\n            return data[2] / 5;\n        },\n        emphasis: {\n            label: {\n                show: true,\n                formatter: function (param) {\n                    return param.data[3] + \" : \" + param.data[2];\n                },\n                position: 'top'\n            }\n        },\n        data: items,\n        type: 'scatter'\n    }]\n};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":940,"wires":[["5adb18d0.f77ea8"]]},{"id":"5adb18d0.f77ea8","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":730,"y":940,"wires":[]},{"id":"38a52eff.b905e2","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_guage","method":"get","upload":false,"swaggerDoc":"","x":150,"y":1000,"wires":[["3d42ffcd.2b9b1","b2d8a95a.7a7008"]]},{"id":"3d42ffcd.2b9b1","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Guage Data","func":"var makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\n\nvar value =  10;\n\nvalue = makeRandom(0, 50);\n\nmsg.payload = {\n    tooltip: {\n        formatter: '{a} <br/>{b} : {c}%'\n    },\n    series: [\n        {\n            name: 'Progress',\n            type: 'gauge',\n            min: 0,\n            max: 50,\n            startAngle: 180,\n            endAngle: 0,            \n            title: {\n                fontWeight: 'bolder',\n                fontSize: 20,\n                fontStyle: 'italic'\n            },\n            detail: {formatter: '{value} C'},\n            data: [{value: value, name: '온도'}]\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":1000,"wires":[["9a2a0540.0183d8"]]},{"id":"9a2a0540.0183d8","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":730,"y":1000,"wires":[]},{"id":"b2d8a95a.7a7008","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":1060,"wires":[]},{"id":"efb00090.cc4ab","type":"function","z":"2d2d9b5e.7c6d94","name":"save share value","func":"var query_result = msg.payload;\n\nflow.set(\"temp_rs\", query_result);\n\nmsg.payload = query_result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":440,"wires":[["a66a7bd3.e0ed48"]]},{"id":"a019f75c.46b178","type":"function","z":"2d2d9b5e.7c6d94","name":"temp sql","func":"const date = new Date();\nmsg.payload={};\nmsg.payload.f1 = \"user\";\n\nmsg.topic = \"SELECT \" +\n\"area, \" +\n\"avg(temp) as 'temp',  \" + \n\"avg(min) as 'min', \" + \n\"avg(max) as 'max', \" + \n\"DATE_FORMAT(date, '%Y/%m') as 'date' \" + \n\"FROM databind.temp \" + \n\"Where date > '20180101' and date < '20191231'  \" +\n\"group by DATE_FORMAT(date, '%Y%m'), area \" + \n\"order by date asc ;\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":440,"wires":[["22bc93b1.583e6c"]]},{"id":"a66a7bd3.e0ed48","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1870,"y":440,"wires":[]},{"id":"5cebe8b5.d3e268","type":"inject","z":"2d2d9b5e.7c6d94","name":"interval=20","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"onceDelay":0.1,"x":1030,"y":440,"wires":[["a019f75c.46b178"]]},{"id":"23a6d6c2.d8fe8a","type":"comment","z":"2d2d9b5e.7c6d94","name":"temp_rs","info":"","x":980,"y":400,"wires":[]},{"id":"b3cd5c98.6489","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/temp_bar","method":"get","upload":false,"swaggerDoc":"","x":139,"y":1226,"wires":[["62c8eac2.af1f14"]]},{"id":"62c8eac2.af1f14","type":"function","z":"2d2d9b5e.7c6d94","name":"get temparature","func":"\nvar temp = flow.get(\"temp_rs\");\nmsg.payload = temp;\n\nreturn msg;","outputs":1,"noerr":0,"x":359,"y":1226,"wires":[["8f94acbd.93504"]]},{"id":"8f94acbd.93504","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Bar Data","func":"var resultList = msg.payload;\n\nvar dimensionslist = ['Date', 'Hempson', 'Southron'];\nvar items = [];\n\n// add items\nfor(var i=0 ; i < resultList.length ; i++){\n    var item = {};\n    for(var k in resultList[i]) {\n        item[\"Date\"] = resultList[i][\"date\"];\n        if(resultList[i][\"area\"] == \"Hempson\")\n        { \n            item[\"Hempson\"] = resultList[i][\"temp\"] ;\n            \n        }else{\n            item[\"Hempson\"] = 0 ;\n        }\n        \n        if(resultList[i][\"area\"] == \"Southron\"){\n            \n            item[\"Southron\"] = resultList[i][\"temp\"] ;\n        }else{\n            item[\"Southron\"] = 0 ;\n        }\n\n    }\n    items.push(item);\n}\n\nmsg.topic = items;\n\nmsg.payload = {\n    legend: {},\n    tooltip: {},\n    dataset: {\n        dimensions: dimensionslist,\n        source: items\n    },\n    xAxis: {type: 'category'},\n    yAxis: {},\n    series: [\n        {\n            type: 'bar',\n            name: 'Hempson',\n            color: 'rgba(0, 0, 255, 0.5)',\n            itemStyle: {\n                borderColor: '#cccccc',\n                borderWidth: 1\n            },\n            \n        },\n        {\n            type: 'bar',\n            name: 'Southron',\n            color: 'rgba(255, 0, 0, 0.5)',\n            itemStyle: {\n                borderColor: '#cccccc',\n                borderWidth: 1\n            },\n            \n        }\n\n    ]\n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":549,"y":1226,"wires":[["38399fab.93251","da0a3b11.5e6e58"]]},{"id":"38399fab.93251","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":769,"y":1226,"wires":[]},{"id":"da0a3b11.5e6e58","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"topic","targetType":"msg","x":799,"y":1286,"wires":[]},{"id":"81a7f616.9080c8","type":"http request","z":"2d2d9b5e.7c6d94","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"https://jsonplaceholder.typicode.com/users","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":1420,"wires":[["758aada1.d930d4"]]},{"id":"d076a4a9.8e40a8","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":1420,"wires":[]},{"id":"b14479c1.78c2c8","type":"inject","z":"2d2d9b5e.7c6d94","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1440,"wires":[["bc328dba.448e3"]]},{"id":"bc328dba.448e3","type":"function","z":"2d2d9b5e.7c6d94","name":"param","func":"msg.payload = {\n           topics: 234243,\n           limit: 100\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":1420,"wires":[["81a7f616.9080c8"]]},{"id":"488f90ba.91491","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/call_api","method":"get","upload":false,"swaggerDoc":"","x":110,"y":1380,"wires":[["bc328dba.448e3"]]},{"id":"758aada1.d930d4","type":"function","z":"2d2d9b5e.7c6d94","name":"make Table Json","func":"var resultList = msg.payload;\n\nvar headerlist = [];\nvar items = [];\n\n// add header\nfor(var key in resultList[0]) {\n    if(key != \"address\" && key != \"company\"){\n        headerlist.push({text:key,value:key});\n    }\n} \n\n// add items\nfor(var i=0 ; i < resultList.length ; i++){\n    var item = {};\n    for(var k in resultList[i]) {\n        if(k != \"address\" && k != \"company\"){\n            item[k] = resultList[i][k];\n        }\n    }\n    items.push(item);\n}\n\nmsg.payload = {\n    headers: headerlist,\n    items:items\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1420,"wires":[["d076a4a9.8e40a8","5b368b15.83d274"]]},{"id":"5b368b15.83d274","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":890,"y":1380,"wires":[]},{"id":"3545e244.e8b6ce","type":"comment","z":"2d2d9b5e.7c6d94","name":"API Call","info":"","x":100,"y":1340,"wires":[]},{"id":"6ce8c4b9.12e03c","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/random_health","method":"get","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["c0a2b12.f79e85"]]},{"id":"c0a2b12.f79e85","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Random Health ","func":"var makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar value = makeRandom(10, 50);\n\nvar temp = makeRandom(20,50);\nvar m = makeRandom(420,650);\nvar co2 = makeRandom(300,490);\nvar humid = makeRandom(30,90);\n\n\nmsg.payload = {\n    title:'내부 상태',\n    color: (value>30) ? '#FF0000': '#00FF00',\n    blink: (value>30) ? true : false,\n    \"metric\":{\n      'item1':{\n        displayName:'먼지농도',\n        textColor: m>500 ? '#FF0000': '#000000',\n        value:m \n      },\n      'item2':{\n        displayName:'온도',\n        textColor: temp>30 ? '#FF0000': '#000000',\n        value:temp\n      },\n      'item3':{\n        displayName:'습도',\n        textColor: humid<50 ? '#FF0000': '#000000',\n        value:humid\n      },\n      'item4':{\n        displayName:'Co2',\n        textColor: co2 > 400 ? '#FF0000': '#000000',\n        value:co2\n      }\n\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":240,"wires":[["53659c67.bb21d4"]]},{"id":"53659c67.bb21d4","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":750,"y":240,"wires":[]},{"id":"93e085d3.3d7698","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/random_metric","method":"get","upload":false,"swaggerDoc":"","x":170,"y":280,"wires":[["7d014c3f.3a82f4"]]},{"id":"7d014c3f.3a82f4","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Random Metric","func":"var makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar value = makeRandom(10, 100);\nvar LFSize = flow.get(\"LFSize\");\nvar MLFSize = flow.get(\"MLFSize\");\nvar MFSize = flow.get(\"MFSize\");\nvar SMFSize = flow.get(\"SMFSize\");\nvar SFSize = flow.get(\"SFSize\");\n\n\nmsg.payload = {\n    titleCaption:  \"\" + value ,\n    titleColor: value>50 ? '#ff0000' : '#0070C0',\n    fontSize: value>50 ? MLFSize : MFSize,\n}\n\nreturn msg;\n\n\n/////////////////////////////////\n// Metric Form \n\n//metric\n//{\n//    titleFillOpacity:0.1\n//    titleColor:'#1222ff',\n//    textAlign:'center',\n//    fontSize:'auto',\n//    iconImageUrl:'',\n//    imageFit:''\n//    titleCaption:'Cluster Operations',\n//    titleColor:'#1222ff',\n//    shapeType:'Rectangle',\n//    fill:true,\n//    fillColor:'#ff0000',\n//    fillOpacity:0.5,\n//    stroke:true,\n//    color:'#00ff00',\n//    weight:10\n//}\n// Math.floor(Math.random()*10)%2\n\n","outputs":1,"noerr":0,"x":560,"y":280,"wires":[["c907de50.03b9b"]]},{"id":"c907de50.03b9b","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":750,"y":280,"wires":[]},{"id":"529a205c.942e7","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/random_popup","method":"get","upload":false,"swaggerDoc":"","x":170,"y":320,"wires":[["82864c1b.2ad0e"]]},{"id":"82864c1b.2ad0e","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Random Popup(Stats)","func":"var makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar temp = makeRandom(20,50);\nvar m = makeRandom(420,650);\nvar co2 = makeRandom(300,490);\nvar humid = makeRandom(30,90);\n\nmsg.payload = {\n\n    \"metric\":{\n      'item1':{\n        displayName:'먼지농도',\n        textColor: m>500 ? '#FF0000': '#000000',\n        value:m \n      },\n      'item2':{\n        displayName:'온도',\n        textColor: temp>30 ? '#FF0000': '#000000',\n        value:temp\n      },\n      'item3':{\n        displayName:'습도',\n        textColor: humid<50 ? '#FF0000': '#000000',\n        value:humid\n      },\n      'item4':{\n        displayName:'Co2',\n        textColor: co2 > 400 ? '#FF0000': '#000000',\n        value:co2\n      }\n\n    }\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":320,"wires":[["320959c4.f8b1f6"]]},{"id":"320959c4.f8b1f6","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":750,"y":320,"wires":[]},{"id":"8c495282.cc551","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/query1_metric","method":"get","upload":false,"swaggerDoc":"","x":170,"y":400,"wires":[["7c664e68.7b578"]]},{"id":"7c664e68.7b578","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Metric","func":"var dataStr = msg.payload.data;\nvar title = msg.payload.title;\nvar makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\n\nvar value =  \"0\";\n\nif(dataStr == \"temp\"){\n    value = makeRandom(10, 50);\n}else if(dataStr == \"humid\"){\n    value = makeRandom(20, 100);\n}else{\n    value = makeRandom(0, 100);\n}\n\nvar LFSize = flow.get(\"LFSize\");\nvar MLFSize = flow.get(\"MLFSize\");\nvar MFSize = flow.get(\"MFSize\");\nvar SMFSize = flow.get(\"SMFSize\");\nvar SFSize = flow.get(\"SFSize\");\n\n\n\n\nmsg.payload = {\n    titleCaption:  \"\" + value ,\n    titleColor: value>30 ? '#ff0000' : '#0070C0',\n    fontSize: value>30 ? MLFSize : MFSize,\n}\n\nreturn msg;\n\n\n/////////////////////////////////\n// Metric Form \n\n//metric\n//{\n//    titleFillOpacity:0.1\n//    titleColor:'#1222ff',\n//    textAlign:'center',\n//    fontSize:'auto',\n//    iconImageUrl:'',\n//    imageFit:''\n//    titleCaption:'Cluster Operations',\n//    titleColor:'#1222ff',\n//    shapeType:'VerticalPipe',\n//    fill:true,\n//    fillColor:'#ff0000',\n//    fillOpacity:0.5,\n//    stroke:true,\n//    color:'#00ff00',\n//    weight:10\n//}\n// Math.floor(Math.random()*10)%2\n\n","outputs":1,"noerr":0,"x":530,"y":400,"wires":[["2ebb07bd.fa0b98"]]},{"id":"2ebb07bd.fa0b98","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":750,"y":400,"wires":[]},{"id":"8b6a7a6e.dfa788","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/query2_metric","method":"get","upload":false,"swaggerDoc":"","x":170,"y":440,"wires":[["674d99be.f7e458","d4dd19f7.78e618"]]},{"id":"674d99be.f7e458","type":"function","z":"2d2d9b5e.7c6d94","name":"Make Metric","func":"var dataStr = msg.payload.data;\nvar title = msg.payload.title;\nvar makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\nvar value =  \"0\";\n\nif(dataStr == \"co2\"){\n    value = makeRandom(300, 500);\n}else if(dataStr == \"m\"){\n    value = makeRandom(300, 800);\n}else if(dataStr == \"tvoc\"){\n    value = makeRandom(300, 800);\n}else{\n    value = makeRandom(0, 100);\n}\n\nvar LFSize = flow.get(\"LFSize\");\nvar MLFSize = flow.get(\"MLFSize\");\nvar MFSize = flow.get(\"MFSize\");\nvar SMFSize = flow.get(\"SMFSize\");\nvar SFSize = flow.get(\"SFSize\");\n\n\nmsg.payload = {\n    titleCaption:  \"\" + value ,\n    titleColor: value>400 ? '#ff0000' : '#0070C0',\n    fontSize: value>400 ? MLFSize : MFSize,\n}\n\nreturn msg;\n\n\n/////////////////////////////////\n// Metric Form \n\n//metric\n//{\n//    titleFillOpacity:0.1\n//    titleColor:'#1222ff',\n//    textAlign:'center',\n//    fontSize:'auto',\n//    iconImageUrl:'',\n//    imageFit:''\n//    titleCaption:'Cluster Operations',\n//    titleColor:'#1222ff',\n//    shapeType:'VerticalPipe',\n//    fill:true,\n//    fillColor:'#ff0000',\n//    fillOpacity:0.5,\n//    stroke:true,\n//    color:'#00ff00',\n//    weight:10\n//}\n// Math.floor(Math.random()*10)%2\n\n","outputs":1,"noerr":0,"x":530,"y":440,"wires":[["20c2019a.aa667e"]]},{"id":"20c2019a.aa667e","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":750,"y":440,"wires":[]},{"id":"d4dd19f7.78e618","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":530,"y":480,"wires":[]},{"id":"998d1d13.eecad","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_line2","method":"get","upload":false,"swaggerDoc":"","x":150,"y":700,"wires":[["d9d288b6.0ab4f8"]]},{"id":"1aad97f3.d860b8","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":730,"y":700,"wires":[]},{"id":"d9d288b6.0ab4f8","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Line Data","func":"var dataStr = msg.payload.data;\nvar title = msg.payload.title;\n\nvar dataList = flow.get(dataStr);\n\nmsg.payload = {\n    grid: {\n        top:10,\n        left:'10%',\n        right:'0%',\n        bottom:'10%'\n    },\n    xAxis:{\n        type: \"category\",\n        data:[]\n    },\n    yAxis:{\n        type:'value',\n        scale: true,\n    },\n    series: [{\n        name:title,\n\t    animation: false,\n        data: dataList,\n        type: 'line',\n        smooth: true,\n        lineStyle: {\n            color: '#FF0000',\n            width: 2,\n        },\n        symbol: 'circle', \n        symbolSize: 5,\n        itemStyle: {\n            borderWidth: 1,\n            borderColor: '#FF0000',\n            color: '#FF0000'\n        }\n    }]\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":700,"wires":[["1aad97f3.d860b8"]]},{"id":"bf4462a8.992a4","type":"http request","z":"2d2d9b5e.7c6d94","name":"","method":"GET","ret":"obj","paytoqs":true,"url":"http://dev.soxcorp.co.kr/NeoCopleinService/dashboard/testLogpresso.do","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1560,"wires":[["354c4e65.138ec2"]]},{"id":"354c4e65.138ec2","type":"function","z":"2d2d9b5e.7c6d94","name":"make Table Json","func":"var resultList = msg.payload;\n\nvar headerlist = msg.payload.headers;\nvar items = msg.payload.items;\n\n\nmsg.payload = {\n    headers: headerlist,\n    items:items\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":1560,"wires":[["81724618.a2a5e8","a69affcc.e7cc6"]]},{"id":"81724618.a2a5e8","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":870,"y":1520,"wires":[]},{"id":"5c96abd1.f55c74","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/logpresso_call","method":"get","upload":false,"swaggerDoc":"","x":250,"y":1560,"wires":[["bf4462a8.992a4"]]},{"id":"a69affcc.e7cc6","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":900,"y":1580,"wires":[]},{"id":"a376d50a.fe6a18","type":"mysql","z":"2d2d9b5e.7c6d94","mydb":"59d5a2e3.a6bdbc","name":"databind db","x":1450,"y":260,"wires":[["f251f62d.41bad8"]]},{"id":"76d81ec5.7c15d","type":"mysql","z":"2d2d9b5e.7c6d94","mydb":"59d5a2e3.a6bdbc","name":"databind db","x":1450,"y":360,"wires":[["71c03b9b.b84fd4"]]},{"id":"22bc93b1.583e6c","type":"mysql","z":"2d2d9b5e.7c6d94","mydb":"59d5a2e3.a6bdbc","name":"databind db","x":1450,"y":440,"wires":[["efb00090.cc4ab"]]},{"id":"e0a3a264.5ff9a","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/health1","method":"get","upload":false,"swaggerDoc":"","x":1270,"y":960,"wires":[["4e73907.599507"]]},{"id":"4e73907.599507","type":"function","z":"2d2d9b5e.7c6d94","name":"","func":"\nvar makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar value = makeRandom(10, 50);\n\nmsg.payload = {\n    title:'status',\n    color:value>30 ? '#FF0000': '#00FF00',\n    blink:value>30 ? true : false,\n    \n\"metric\":{\n      'item1':{\n        displayName:'온도',\n        textColor: value>35 ? '#FF0000': '#000000',\n        value:value \n      }\n    }\n}\n\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":960,"wires":[["bc742eb0.a51bb"]]},{"id":"bc742eb0.a51bb","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1870,"y":960,"wires":[]},{"id":"425543f6.49bafc","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/metric1","method":"get","upload":false,"swaggerDoc":"","x":1270,"y":1040,"wires":[["b7a02493.4acd78"]]},{"id":"b7a02493.4acd78","type":"function","z":"2d2d9b5e.7c6d94","name":"","func":"\n\nvar makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar value = makeRandom(10, 50);\nmsg.payload = {\n    // titleCaption:Math.floor(Math.random()*10)%2 ? 'Cluster Operations': 'Standalone Operations',\n    titleCaption:  \"\" + value ,\n    titleColor: value>30 ? '#ff0000' : '#000000',\n    fontSize: value>30 ? '70px' : '50px',\n    //fillColor: value>30 ? '#ff0000' : '#ffffff',\n    color: value>30 ? '#ff0000' : '#000000',\n    weight: value>30 ? 5 : 1,\n    shapeType:'Rectangle'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":1040,"wires":[["20d88bab.3a53a4"]]},{"id":"20d88bab.3a53a4","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1870,"y":1040,"wires":[]},{"id":"ae577672.b0ce78","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/poi_api","method":"get","upload":false,"swaggerDoc":"","x":1270,"y":1300,"wires":[["48653d8e.8ca934"]]},{"id":"48653d8e.8ca934","type":"function","z":"2d2d9b5e.7c6d94","name":"","func":"\nmsg.payload = {\n    result:\"OK\",\n    resultMap:{},\n    resultList:[{\n        position: {      \"lat\": 36.48111195221192,\n      \"lng\": 127.28208709963182,},\n        meta: {\n            video:{\n                data: {\n                    url:\"https://www.w3schools.com/html/mov_bbb.mp4\"\n                }\n            },\n            image:{\n                data: {\n                    url:\"https://hatrabbits.com/wp-content/uploads/2018/10/risky-assumptions.jpg\"\n                }\n            }\n        }\n    },{\n        position: {      \"lat\": 36.40630358110985,\n      \"lng\": 127.50785161850897},\n        meta: {\n            chart: {\n                data: {\n                    method:\"GET\",\n                    url:'http://play.drilldown.info:1880/bubble_chart'\n                }\n            },\n            table: {\n                \"data\": {\n                    \"url\": \"http://play.drilldown.info:1880/table\",\n                    \"method\": \"GET\",\n                    \"body\": {\n                      \"parameter\": \"\"\n                    }\n                } \n            },\n            file: {\n            }\n        }\n    },{\n        position: {      \"lat\": 36.34602394921719,\n      \"lng\": 127.24430624245112},\n        meta: {\n            chart: {},\n            table: {},\n            video: {},\n            image: {},\n            html: {},\n            file: {},\n        }\n    }]\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":1300,"wires":[["3626f7a0.f377a8"]]},{"id":"3626f7a0.f377a8","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1870,"y":1300,"wires":[]},{"id":"83eca3fb.dac15","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/chart_api","method":"get","upload":false,"swaggerDoc":"","x":1280,"y":1400,"wires":[["c36b24ed.7ee9b8"]]},{"id":"c36b24ed.7ee9b8","type":"function","z":"2d2d9b5e.7c6d94","name":"","func":"\nmsg.payload = {\n    result:\"OK\",\n    resultMap:{},\n    resultList:[{\n        position: {      \"lat\": 36.48111195221192,\n      \"lng\": 127.28208709963182,},\n        \"size\": {\n          \"width\": 150,\n          \"height\": 150\n        },\n        type: 'chart',\n        meta: {\n  \"data\": {\n    \"method\": \"GET\",\n    \"url\": \"http://play.drilldown.info:1880/pie_chart\"\n  }\n}\n    },{\n        position: {      \"lat\": 36.40630358110985,\n      \"lng\": 127.50785161850897},\n        type: 'chart',\n        \"size\": {\n          \"width\": 200,\n          \"height\": 200\n        },\n        meta: {\n  \"data\": {\n    \"method\": \"GET\",\n    \"url\": \"http://play.drilldown.info:1880/donut_chart\"\n  }\n}\n    },{\n        position: {      \"lat\": 36.34602394921719,\n      \"lng\": 127.24430624245112},\n        type: 'chart',\n        \"size\": {\n          \"width\": 300,\n          \"height\": 300\n        },\n        meta: {\n  \"data\": {\n    \"method\": \"GET\",\n    \"url\": \"http://play.drilldown.info:1880/pie_chart\"\n  }\n}\n    }]\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":1400,"wires":[["5ae52635.6a1d78"]]},{"id":"5ae52635.6a1d78","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1870,"y":1400,"wires":[]},{"id":"ff1ee952.5a62c8","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/health2","method":"get","upload":false,"swaggerDoc":"","x":1270,"y":1120,"wires":[["319382c5.a4f3ce"]]},{"id":"319382c5.a4f3ce","type":"function","z":"2d2d9b5e.7c6d94","name":"","func":"\nvar makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar value = makeRandom(300, 800);\n\nmsg.payload = {\n    title:'status',\n    color:value<600 ? '#FF0000': '#00FF00',\n    blink:value<400 ? true : false,\n    \"metric\":{\n      'item1':{\n        displayName:'Co2',\n        textColor: value>500 ? '#FF0000': '#000000',\n        value:value \n      }\n    }\n}\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1700,"y":1120,"wires":[["b93488ef.b9d3d8"]]},{"id":"b93488ef.b9d3d8","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1870,"y":1120,"wires":[]},{"id":"2817cd42.38ee52","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/metric2","method":"get","upload":false,"swaggerDoc":"","x":1270,"y":1200,"wires":[["ffc97edd.d51e5"]]},{"id":"ffc97edd.d51e5","type":"function","z":"2d2d9b5e.7c6d94","name":"","func":"\nvar makeRandom = function(min, max){\n    var RandVal = Math.floor(Math.random()*(max-min+1)) + min;\n    return RandVal;\n    \n};\n\nvar value = makeRandom(300, 800);\nmsg.payload = {\n    // titleCaption:Math.floor(Math.random()*10)%2 ? 'Cluster Operations': 'Standalone Operations',\n    titleCaption:  \"\" + value ,\n    titleColor: value<600 ? '#ff0000' : '#000000',\n    shapeType:'Rectangle'\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1700,"y":1200,"wires":[["e6d0d462.354778"]]},{"id":"e6d0d462.354778","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":1870,"y":1200,"wires":[]},{"id":"461d342d.671fac","type":"debug","z":"2d2d9b5e.7c6d94","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":760,"wires":[]},{"id":"aeccfe70.20995","type":"http in","z":"2d2d9b5e.7c6d94","name":"","url":"/factory_pie","method":"get","upload":false,"swaggerDoc":"","x":140,"y":1140,"wires":[["a43dc15f.40c8e"]]},{"id":"a43dc15f.40c8e","type":"function","z":"2d2d9b5e.7c6d94","name":"Call Pie Data","func":"var rowList = [\"A1\",\"A2\",\"A3\",\"A4\",\"A5\"];  \nvar dataList = [26,30,21,15,14];  \nvar items = [];\n\n// add items\nfor(var i=0 ; i < dataList.length ; i++){\n    var item = {};\n    item[\"value\"] = dataList[i];\n    item[\"name\"] = rowList[i];\n    items.push(item);\n}\n\n\nmsg.payload = {\n    legend: {\n        orient: 'vertical',\n        left: 'left',\n    },\n    tooltip: {\n        trigger: 'item'\n    },\n    series: [\n        {\n            name: '점유율',\n            type: 'pie',\n            radius: '70%',\n            data: items,\n            emphasis: {\n                itemStyle: {\n                    shadowBlur: 10,\n                    shadowOffsetX: 0,\n                    shadowColor: 'rgba(0, 0, 0, 0.5)'\n                }\n            }\n        }\n    ]\n};\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":1140,"wires":[["77e6a1c.172286"]]},{"id":"77e6a1c.172286","type":"http response","z":"2d2d9b5e.7c6d94","name":"","statusCode":"","headers":{},"x":730,"y":1140,"wires":[]},{"id":"59d5a2e3.a6bdbc","type":"MySQLdatabase","name":"","host":"127.0.0.1","port":"3306","db":"databind","tz":"","charset":"UTF8"}]